SystemName=KanbanX
PORT=8080
DocumentRoot=www/html
TemplateRoot=www/template
DBPath=data/kanban.db

# USER_SOURCE can be 'telegram', 'ide', 'personal', or 'web'
# USER_SOURCE=web
# If USER_SOURCE is 'personal', DEFAULT_USER_ID will be used
# DEFAULT_USER_ID=my_personal_id
